.container {
  display: flex;
  height: 100vh;
  width: 80vw;
  background-color: #ffffff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 20px;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}.createButton {
  background-color: #a71414;
  color: white;
  border: none;
  margin-right: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #a71414;
}
