.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;

  width: 80vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}



.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin: 0;
  color: #333;
}

.card p {
  margin: 5px 0;
  color: #555;
}

.award {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
